<?xml version="1.0" encoding="UTF-8"?>

<phpunit  backupGlobals="false"
          backupStaticAttributes="false"
          bootstrap="vendor/autoload.php"
          colors="true"
          convertErrorsToExceptions="true"
          convertNoticesToExceptions="true"
          convertWarningsToExceptions="true"
          mapTestClassNameToCoveredClassName="true"
          processIsolation="false"
          stopOnFailure="true"
          strict="true"
          syntaxCheck="false"
          verbose="true"
>

  <!-- ======================================================================================== -->
  <!-- test suite(s)                                                                            -->
  <!-- ======================================================================================== -->

  <testsuites>
    <testsuite name="Unit Test Suite">
      <directory>./src/test/unit/Meta/</directory>
    </testsuite>
    <testsuite name="Spec Test Suite">
      <directory>./src/test/spec/Meta/</directory>
    </testsuite>
  </testsuites>

  <!-- ======================================================================================== -->
  <!-- code coverage reporting (whitelist/blacklist)                                            -->
  <!-- ======================================================================================== -->

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix="Test.php">./src/test/unit/Meta</directory>
    </whitelist>
  </filter>

  <!-- ======================================================================================== -->
  <!-- Selects tests that should (or should not) be run based on the test's @group annotation   -->
  <!-- ======================================================================================== -->

  <groups>
    <!-- tests with these @group annotations will be excluded from running with the suite -->
    <exclude>
      <group>disable</group>
      <group>skip</group>
    </exclude>
  </groups>

  <!-- ======================================================================================== -->
  <!-- coverage logging (build/logs/junit.xml)                                                  -->
  <!-- ======================================================================================== -->

  <logging>
    <log type="junit" target="/dev/null" logIncompleteSkipped="false" />
  </logging>

</phpunit>
